{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur le blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nobis iusto accusamus aut distinctio error voluptate. Incidunt libero animi, consectetur iusto porro mollitia itaque ab ipsum magni nostrum eos quisquam. Nostrum provident illum incidunt alias consequatur laboriosam. Laborum, sapiente obcaecati.</p>
<p>Consectetur iste eos, beatae doloribus dolores explicabo quis accusamus dolor dolorum facere aliquam laborum. Ratione explicabo rem cum assumenda vero doloribus architecto velit hic id accusantium asperiores accusamus ad dolores nihil quos, placeat ipsa, magnam, corrupti a dolorem quisquam maxime.</p>

{% endblock %}